body {
}
canvas{}
#lienzo {
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
#boton {
    position: absolute;
    top: 0px;
    left: 0px;
    color: orange;
    background-color: black;
    padding: 10px;
}